# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=task_project

# MQTT (Defaults for internal container communication)
MQTT_URL=mqtt://mqtt:1883
MQTT_USERNAME=admin
MQTT_PASSWORD=password

# Server
PORT=3001
CORS_ORIGINS=http://localhost:8084,http://localhost:5173
